@model CodeWorksWarehouse.Common.Entities.Order
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

    <div>
        <h4>Order</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.ProductId)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ProductId)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CreatedAt)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ProcessedAt)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ProcessedAt)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.RemoveStock)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.RemoveStock)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Stock)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Stock)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
</body>
</html>
